# Multiple Linear Regression Part 2

Multiple Linear Regression (MLR) is used for more than 1 variables or features to find the relationship by fitting a linear equation.   

Y: 1 continuous target variable     
X: 2 or more predictor variables        
b0: intercept (X=0)     
b1: the coefficient or parameter of x1   
b2: the coefficient of parameter x2 and so on...        


To find the the parameter or coefficients for multiple linear regression with very large dataset and high dimensionality., you should use optimization approach .

Data Preprocessing

In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# fix_yahoo_finance is used to fetch data 
import fix_yahoo_finance as yf
yf.pdr_override()

In [2]:
# input
symbol = 'AMD'
start = '2014-01-01'
end = '2018-08-27'

# Read data 
dataset = yf.download(symbol,start,end)

# View columns 
dataset.head()

[*********************100%***********************]  1 of 1 downloaded

            Open  High   Low  Close  Adj Close    Volume
Date
2014-01-02  3.85  3.98  3.84   3.95       3.95  20548400
2014-01-03  3.98  4.00  3.88   4.00       4.00  22887200
2014-01-06  4.01  4.18  3.99   4.13       4.13  42398300
2014-01-07  4.19  4.25  4.11   4.18       4.18  42932100
2014-01-08  4.23  4.26  4.14   4.18       4.18  30678700

In [3]:
dataset.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1172.000000,1172.000000,1172.000000,1172.000000,1172.000000,1.172000e+03
mean,7.013959,7.161143,6.868012,7.015776,7.015776,3.785747e+07
std,4.880564,4.985040,4.779099,4.887464,4.887464,3.456219e+07
min,1.620000,1.690000,1.610000,1.620000,1.620000,0.000000e+00
25%,2.710000,2.780000,2.660000,2.707500,2.707500,1.308202e+07
50%,4.250000,4.350000,4.175000,4.275000,4.275000,2.900380e+07
75%,11.585000,11.785000,11.310000,11.555000,11.555000,5.064272e+07
max,24.940001,27.299999,24.629999,25.260000,25.260000,3.250584e+08

Explore Features

In [4]:
features = dataset[['Open','High','Low','Close','Adj Close','Volume']]
features.head(9)

            Open  High   Low  Close  Adj Close    Volume
Date
2014-01-02  3.85  3.98  3.84   3.95       3.95  20548400
2014-01-03  3.98  4.00  3.88   4.00       4.00  22887200
2014-01-06  4.01  4.18  3.99   4.13       4.13  42398300
2014-01-07  4.19  4.25  4.11   4.18       4.18  42932100
2014-01-08  4.23  4.26  4.14   4.18       4.18  30678700
2014-01-09  4.20  4.23  4.05   4.09       4.09  30667600
2014-01-10  4.09  4.20  4.07   4.17       4.17  20840800
2014-01-13  4.19  4.20  4.09   4.13       4.13  22856100
2014-01-14  4.14  4.30  4.13   4.30       4.30  42434800

In [5]:
target = dataset['Adj Close']
target.head(9)

Date
2014-01-02    3.95
2014-01-03    4.00
2014-01-06    4.13
2014-01-07    4.18
2014-01-08    4.18
2014-01-09    4.09
2014-01-10    4.17
2014-01-13    4.13
2014-01-14    4.30
Name: Adj Close, dtype: float64

In [6]:
msk = np.random.rand(len(dataset)) < 0.8
train = features[msk]
test = features[~msk]

Multiple Regression Model

In [7]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
x = np.asanyarray(train[['Open','High','Low']])
y = np.asanyarray(train[['Adj Close']])
regr.fit (x, y)
# The coefficients
print ('Coefficients: ', regr.coef_)

Coefficients:  [[-0.51741512  0.71866713  0.80080015]]

In [8]:
y_pred = regr.predict(test[['Open','High','Low']])
x = np.asanyarray(test[['Open','High','Low']])
y = np.asanyarray(test[['Adj Close']])
print("Residual sum of squares: %.2f"
      % np.mean((y_pred - y) ** 2))

# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(x, y))

Residual sum of squares: 0.01
Variance score: 1.00

In [9]:
regr = linear_model.LinearRegression()
x = np.asanyarray(train[['Open','High','Low','Volume']])
y = np.asanyarray(train[['Adj Close']])
regr.fit (x, y)
print ('Coefficients: ', regr.coef_)
y_= regr.predict(test[['Open','High','Low','Volume']])
x = np.asanyarray(test[['Open','High','Low','Volume']])
y = np.asanyarray(test[['Adj Close']])
print("Residual sum of squares: %.2f"% np.mean((y_ - y) ** 2))
print('Variance score: %.2f' % regr.score(x, y))

Coefficients:  [[-5.28488950e-01  8.11577802e-01  7.19334192e-01 -8.48431352e-10]]
Residual sum of squares: 0.01
Variance score: 1.00