# PyCaret Stock Prediction

In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

# yahoo finance used to fetch data 
import yfinance as yf
yf.pdr_override()

In [2]:
df= yf.download("AMD", start="2020-01-01", end="2022-01-01")

[*********************100%***********************]  1 of 1 completed

In [3]:
df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  46.860001  49.250000  46.630001  49.099998  49.099998  80331100
2020-01-03  48.029999  49.389999  47.540001  48.599998  48.599998  73127400
2020-01-06  48.020000  48.860001  47.860001  48.389999  48.389999  47934900
2020-01-07  49.349998  49.389999  48.040001  48.250000  48.250000  58061400
2020-01-08  47.849998  48.299999  47.139999  47.830002  47.830002  53767000

In [4]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-12-27,147.509995,154.889999,147.250000,154.360001,154.360001,53296400
2021-12-28,155.880005,156.729996,151.380005,153.149994,153.149994,58699100
2021-12-29,152.820007,154.339996,147.289993,148.259995,148.259995,51300200
2021-12-30,147.440002,148.850006,144.850006,145.149994,145.149994,44358000
2021-12-31,146.160004,148.610001,143.550003,143.899994,143.899994,49448100

In [5]:
df.shape

(505, 6)

In [6]:
df = df.reset_index()

In [7]:
df.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2020-01-02  46.860001  49.250000  46.630001  49.099998  49.099998  80331100
1 2020-01-03  48.029999  49.389999  47.540001  48.599998  48.599998  73127400
2 2020-01-06  48.020000  48.860001  47.860001  48.389999  48.389999  47934900
3 2020-01-07  49.349998  49.389999  48.040001  48.250000  48.250000  58061400
4 2020-01-08  47.849998  48.299999  47.139999  47.830002  47.830002  53767000

In [8]:
df = df.drop('Date', axis=1)

In [9]:
data = df.sample(frac=0.9)
data_unseen = df.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (454, 6)
Unseen Data For Predictions: (51, 6)

In [10]:
from pycaret.regression import *
exp_reg102 = setup(data=data, target='Adj Close', session_id=123,use_gpu=True)

In [11]:
compare_models()

LassoLars(alpha=1.0, copy_X=True, eps=2.220446049250313e-16, fit_intercept=True,
          fit_path=True, jitter=None, max_iter=500, normalize=True,
          positive=False, precompute='auto', random_state=123, verbose=False)

In [12]:
lr = create_model('lr')

In [13]:
tuned_lr = tune_model(lr, n_iter=1000)

In [14]:
unseen_predictions = predict_model(tuned_lr, data=data_unseen)
unseen_predictions

,Open,High,Low,Close,Adj Close,Volume,Label
0,51.630001,51.880001,51.200001,51.430000,51.430000,40772200,84.707932
1,48.799999,49.389999,47.630001,49.320000,49.320000,48670600,84.185089
2,53.430000,55.029999,53.340000,54.529999,54.529999,51640000,83.988525
3,55.189999,55.400002,54.560001,55.310001,55.310001,52365400,83.940506
4,42.200001,43.910000,39.599998,43.900002,43.900002,86689700,81.668365
5,40.189999,42.880001,38.299999,41.880001,41.880001,92741900,81.267738
6,44.299999,47.580002,44.060001,47.520000,47.520000,82294000,81.959351
7,52.240002,55.139999,52.110001,54.930000,54.930000,85306800,81.759911
8,51.070000,51.950001,49.090000,49.880001,49.880001,69562700,82.802109
9,53.430000,53.509998,51.290001,52.189999,52.189999,56560500,83.662804
10,52.900002,55.889999,52.750000,55.740002,55.740002,68746400,82.856148
11,52.099998,54.540001,51.610001,54.509998,54.509998,73814000,82.520691
12,53.029999,53.189999,52.049999,52.340000,52.340000,29081400,85.481812
13,57.540001,58.150002,55.509998,55.880001,55.880001,59839700,83.445732
14,55.310001,55.810001,54.680000,55.040001,55.040001,34710400,85.109200
15,78.430000,82.879997,77.550003,82.610001,82.610001,88513700,81.547630
16,84.300003,86.040001,84.190002,85.550003,85.550003,40723300,84.711166
17,77.660004,80.330002,75.970001,78.930000,78.930000,57874400,83.575829
18,83.059998,85.250000,82.860001,84.860001,84.860001,52177100,83.952972
19,84.739998,85.750000,82.349998,83.099998,83.099998,80354400,82.087738
20,80.930000,81.989998,79.330002,81.959999,81.959999,46557700,84.324951
21,84.239998,87.050003,82.769997,83.120003,83.120003,58580700,83.529076
22,82.730003,83.110001,80.699997,81.430000,81.430000,30423200,85.392990
23,85.760002,87.839996,85.519997,86.709999,86.709999,41349700,84.669701
24,94.050003,94.739998,91.900002,92.919998,92.919998,33907500,85.162346
25,89.550003,92.089996,89.029999,91.660004,91.660004,33804400,85.169174
26,93.360001,93.550003,90.529999,93.160004,93.160004,35673700,85.045433
27,91.800003,92.510002,91.309998,91.809998,91.809998,16705900,86.301025
28,97.860001,98.970001,94.070000,95.360001,95.360001,67672300,82.927246
29,88.309998,91.989998,87.980003,91.470001,91.470001,47639900,84.253311
30,88.150002,88.300003,85.209999,85.370003,85.370003,36930200,84.962257
31,78.029999,79.000000,73.860001,73.959999,73.959999,54563900,83.794975
32,78.489998,79.339996,77.589996,79.059998,79.059998,42283400,84.607895
33,77.550003,78.800003,76.400002,76.480003,76.480003,43753600,84.510574
34,80.160004,81.309998,79.480003,81.089996,81.089996,40182400,84.746971
35,82.800003,83.589996,82.160004,82.760002,82.760002,32759900,85.238312
36,80.919998,82.190002,80.809998,81.580002,81.580002,26387800,85.660118
37,81.870003,82.650002,80.449997,80.889999,80.889999,26956600,85.622467
38,81.610001,82.330002,80.699997,81.309998,81.309998,24310900,85.797600
39,82.900002,84.040001,82.480003,83.580002,83.580002,32107700,85.281487
40,94.040001,94.180000,91.699997,93.309998,93.309998,58059000,83.563606
41,90.760002,91.400002,88.940002,89.050003,89.050003,28108500,85.546219
42,92.010002,92.750000,91.120003,91.820000,91.820000,27668500,85.575340
43,106.639999,108.699997,105.349998,107.559998,107.559998,74053900,82.504807
44,112.610001,114.489998,111.260002,111.320000,111.320000,56130500,83.691269
45,106.279999,109.879997,106.250000,109.160004,109.160004,55631900,83.724274
46,120.830002,121.559998,118.370003,119.820000,119.820000,38992700,84.825722
47,146.029999,148.589996,144.250000,147.889999,147.889999,52162100,83.953964
48,148.000000,148.979996,142.860001,146.490005,146.490005,52271300,83.946732
49,155.759995,156.919998,153.449997,155.410004,155.410004,41668900,84.648575
50,138.190002,144.500000,135.149994,144.250000,144.250000,57785200,83.581734